{% extends 'roof.html' %}

{% block content %}
	<div id='yasgui'></div>
{% endblock %}

{% block plugins %}
    <script src="/cdn/browse/yasgui/dist/yasgui.min.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
//want to change the config? use the config file in the ./server directory (this gets automatically inserted below)
var config = {"api":{"corsProxy":"/proxy/","urlShortener":"/shorten"}};
var yasgui = YASGUI(document.getElementById("yasgui"), config);
    </script>
{% endblock %}

{% block designs %}
    <link href="/cdn/browse/yasgui/dist/yasgui.min.css" rel="stylesheet">
{% endblock %}

