{% extends 'base.html' %}

{% block content %}
<div class="row">
{% block before_grid %}{% endblock %}
    <div class="col-md-12">
        <div id="example-2-result" class="backgrid-container"></div>
    </div>
{% block after_grid %}{% endblock %}
</div>
{% endblock %}

{% block designs %}
    <link href="/cdn/browse/backgrid/lib/backgrid.css" rel="stylesheet" type="text/css" />
    <link href="/cdn/browse/backgrid-select-all/backgrid-select-all.min.css" rel="stylesheet" type="text/css" />
    <link href="/cdn/browse/backgrid-paginator/backgrid-paginator.min.css" rel="stylesheet" type="text/css" />
{% block shallow %}{% endblock %}
{% endblock %}

{% block plugins %}
    <script src="/cdn/browse/backbone-pageable/lib/backbone-pageable.js"></script>
    <script src="/cdn/browse/backgrid/lib/backgrid.js"></script>
    <script src="/cdn/browse/backgrid-select-all/backgrid-select-all.min.js"></script>
    <script src="/cdn/browse/backgrid-paginator/backgrid-paginator.min.js"></script>
{% block contrib %}{% endblock %}
{% endblock %}

{% block scripts %}
{% block configs %}{% endblock %}
    <script type="text/javascript">
$(function () {
    var locally = new collect();

    // Set up a grid to use the pageable collection
    var dataGrd = new Backgrid.Grid({
      columns: [{
        // enable the select-all extension
        name: "",
        cell: "select-row",
        headerCell: "select-all"
      }].concat(columns),
      collection: locally
    });

    // Render the grid
    var $example2 = $("#example-2-result");
    $example2.append(dataGrd.render().el)

    // Initialize the paginator
    var paginator = new Backgrid.Extension.Paginator({
      collection: locally
    });

    // Render the paginator
    $example2.after(paginator.render().el);

    /*
    // Initialize a client-side filter to filter on the client
    // mode pageable collection's cache.
    var filter = new Backgrid.Extension.ClientSideFilter({
      collection: locally,
      fields: ['name']
    });

    // Render the filter
    $example2.before(filter.render().el);

    // Add some space to the filter and move it to the right
    $(filter.el).css({float: "right", margin: "20px"});
    //*/

    // Fetch some data
    locally.fetch({reset: true});
});
    </script>
{% block program %}{% endblock %}
{% endblock %}

