{% extends 'widget/base.html' %}

{% block title %}xxxxxxxx{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-3 hidden-phone hidden-tablet">
		<div id="external-events">
			<h4>Draggable Events</h4>
			<div class="external-event badge">Default</div>
			<div class="external-event badge badge-success">Completed</div>
			<div class="external-event badge badge-warning">Warning</div>
			<div class="external-event badge badge-important">Important</div>
			<div class="external-event badge badge-info">Info</div>
			<div class="external-event badge badge-inverse">Other</div>
			<p>
				<label for="drop-remove"><input type="checkbox" id="drop-remove" /> remove after drop</label>
			</p>
		</div>
	</div>
	<div class="col-lg-9">
		<div id="calendar" class="col-lg-12"></div>	
		<div class="clearfix"></div>
	</div>	
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function(){
	
	$('#external-events div.external-event').each(function() {

		// it doesn't need to have a start or end
		var eventObject = {
			title: $.trim($(this).text()) // use the element's text as the event title
		};
		
		// store the Event Object in the DOM element so we can get to it later
		$(this).data('eventObject', eventObject);
		
		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});
		
	});
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
		
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			right: 'prev,next today,month,agendaWeek,agendaDay'
		},
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar !!!
		drop: function(date, allDay) { // this function is called when something is dropped
		
			// retrieve the dropped element's stored Event Object
			var originalEventObject = $(this).data('eventObject');
			
			// we need to copy it, so that multiple events don't have a reference to the same object
			var copiedEventObject = $.extend({}, originalEventObject);
			
			// assign it the date that was reported
			copiedEventObject.start = date;
			copiedEventObject.allDay = allDay;
			
			// render the event on the calendar
			// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
			
			// is the "remove after drop" checkbox checked?
			if ($('#drop-remove').is(':checked')) {
				// if so, remove the element from the "Draggable Events" list
				$(this).remove();
			}
			
		}
	});
	
});
    </script>
{% endblock %}

