{% extends 'widget/base.html' %}

{% block title %}Chat Lobby{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<ul class="chat">
	<li class="left">
		<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
		<span class="message"><span class="arrow"></span>
			<span class="from">Łukasz Holeczek</span>
			<span class="time">Jul 25, 2012 11:09</span>
			<span class="text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</span>
		</span>	                                  
	</li>
	<li class="right">
		<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
		<span class="message"><span class="arrow"></span>
			<span class="from">Łukasz Holeczek</span>
			<span class="time">Jul 25, 2012 11:08</span>
			<span class="text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</span>
		</span>                                  
	</li>
	<li class="left">
		<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
		<span class="message"><span class="arrow"></span>
			<span class="from">Łukasz Holeczek</span>
			<span class="time">Jul 25, 2012 11:07</span>
			<span class="text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</span>
		</span>	                                  
	</li>
	<li class="right">
		<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
		<span class="message"><span class="arrow"></span>
			<span class="from">Łukasz Holeczek</span>
			<span class="time">Jul 25, 2012 11:06</span>
			<span class="text">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</span>
		</span>	                                  
	</li>
</ul>
<div class="chat-form">
	<textarea></textarea>
	<button class="btn btn-info">Send message</button>
</div>	
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

