{% extends 'widget/base.html' %}

{% block title %}To-Do list{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="todo">
	<ul class="todo-list">
		<li>
			Windows Phone 8 App <span class="label label-important">today</span>
								<span class="todo-actions">
									<a href="widgets.html#"><i class="fa fa-check"></i></a>
									<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
								</span>
		</li>
		<li>New frontend layout <span class="label label-important">today</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>Hire developers <span class="label label-warning">tommorow</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>Windows Phone 8 App <span class="label label-warning">tommorow</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>New frontend layout <span class="label label-success">this week</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>Hire developers <span class="label label-success">this week</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>New frontend layout <span class="label label-info">this month</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
		<li>Hire developers <span class="label label-info">this month</span>
							<span class="todo-actions">
								<a href="widgets.html#"><i class="fa fa-check"></i></a>
								<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
							</span>
		</li>
	</ul>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

