<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index-2.html"><span>AsgarTH</span></a>
<div class="nav-no-collapse header-nav">
    <ul class="nav pull-right">
	    <li class="dropdown hidden-xs">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index-2.html#">
			    <i class="halflings warning-sign white"></i>
		    </a>
		    <ul class="dropdown-menu notifications">
			    <li>
				    <span class="dropdown-menu-title">You have 11 notifications</span>
			    </li>	
            	<li>
                    <a href="index-2.html#">
					    + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">1 min</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">7 min</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">8 min</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">16 min</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">36 min</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-shopping-cart"></i> <span class="message">2 items sold</span> <span class="time">1 hour</span> 
                    </a>
                </li>
			    <li class="warning">
                    <a href="index-2.html#">
					    - <i class="fa fa-user"></i> <span class="message">User deleted account</span> <span class="time">2 hour</span> 
                    </a>
                </li>
			    <li class="warning">
                    <a href="index-2.html#">
					    - <i class="fa fa-shopping-cart"></i> <span class="message">Transaction was canceled</span> <span class="time">6 hour</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-comment-o"></i> <span class="message">New comment</span> <span class="time">yesterday</span> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    + <i class="fa fa-user"></i> <span class="message">New user registration</span> <span class="time">yesterday</span> 
                    </a>
                </li>
                <li>
            		<a class="dropdown-menu-sub-footer">View all notifications</a>
			    </li>	
		    </ul>
	    </li>
	    <!-- start: Notifications Dropdown -->
	    <li class="dropdown hidden-xs">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index-2.html#">
			    <i class="halflings tasks white"></i>
		    </a>
		    <ul class="dropdown-menu tasks">
			    <li>
				    <span class="dropdown-menu-title">You have 17 tasks in progress</span>
            	</li>
			    <li>
                    <a href="index-2.html#">
					    <span class="header">
						    <span class="title">iOS Development</span>
						    <span class="percent"></span>
					    </span>
                        <div class="taskProgress progressSlim progressBlue">80</div> 
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="header">
						    <span class="title">Android Development</span>
						    <span class="percent"></span>
					    </span>
                        <div class="taskProgress progressSlim progressBlue">47</div> 
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="header">
						    <span class="title">Django Project For Google</span>
						    <span class="percent"></span>
					    </span>
                        <div class="taskProgress progressSlim progressBlue">32</div> 
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    <span class="header">
						    <span class="title">SEO for new sites</span>
						    <span class="percent"></span>
					    </span>
                        <div class="taskProgress progressSlim progressBlue">63</div> 
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="header">
						    <span class="title">New blog posts</span>
						    <span class="percent"></span>
					    </span>
                        <div class="taskProgress progressSlim progressBlue">80</div> 
                    </a>
                </li>
			    <li>
            		<a class="dropdown-menu-sub-footer">View all tasks</a>
			    </li>	
		    </ul>
	    </li>
	    <!-- end: Notifications Dropdown -->
	    <!-- start: Message Dropdown -->
	    <li class="dropdown hidden-xs">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="index-2.html#">
			    <i class="halflings envelope white"></i>
		    </a>
		    <ul class="dropdown-menu messages">
			    <li>
				    <span class="dropdown-menu-title">You have 9 messages</span>
			    </li>	
            	<li>
                    <a href="index-2.html#">
					    <span class="avatar"><img src="assets/img/avatar.jpg" alt="Avatar"></span>
					    <span class="header">
						    <span class="from">
					        	Łukasz Holeczek
					         </span>
						    <span class="time">
					        	6 min
					        </span>
					    </span>
                        <span class="message">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>  
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="avatar"><img src="assets/img/avatar2.jpg" alt="Avatar"></span>
					    <span class="header">
						    <span class="from">
					        	Megan Abott
					         </span>
						    <span class="time">
					        	56 min
					        </span>
					    </span>
                        <span class="message">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>  
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="avatar"><img src="assets/img/avatar3.jpg" alt="Avatar"></span>
					    <span class="header">
						    <span class="from">
					        	Kate Ross
					         </span>
						    <span class="time">
					        	3 hours
					        </span>
					    </span>
                        <span class="message">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>  
                    </a>
                </li>
			    <li>
                    <a href="index-2.html#">
					    <span class="avatar"><img src="assets/img/avatar4.jpg" alt="Avatar"></span>
					    <span class="header">
						    <span class="from">
					        	Julie Blank
					         </span>
						    <span class="time">
					        	yesterday
					        </span>
					    </span>
                        <span class="message">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>  
                    </a>
                </li>
                <li>
                    <a href="index-2.html#">
					    <span class="avatar"><img src="assets/img/avatar5.jpg" alt="Avatar"></span>
					    <span class="header">
						    <span class="from">
					        	Jane Sanders
					         </span>
						    <span class="time">
					        	Jul 25, 2012
					        </span>
					    </span>
                        <span class="message">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                        </span>  
                    </a>
                </li>
			    <li>
            		<a class="dropdown-menu-sub-footer">View all messages</a>
			    </li>	
		    </ul>
	    </li>
	    <li>
		    <a class="btn" href="index-2.html#">
			    <i class="halflings cog white"></i>
		    </a>
	    </li>
{% if user.is_anonymous %}
	    <li>
		    <a class="btn" href="/connect">
			    <i class="halflings user white"></i> Not logged yet ?
		    </a>
	    </li>
{% else %}
	    <li class="dropdown">
		    <a class="btn dropdown-toggle" data-toggle="dropdown" href="/settings">
			    <i class="halflings user white"></i> Welcome, {{ user.username }}
			    <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu">
			    <li><a href="/profile"><i class="halflings user white"></i> Profile</a></li>
			    <li><a href="/lougout"><i class="halflings off white"></i> Logout</a></li>
		    </ul>
	    </li>
{% endif %}
    </ul>
</div>

