{% extends 'error/generic.html' %}

{% block content %}
    <h1>Syntax Error :</h1>
    <h2>{{ message }}</h2>
    <p>{{ exception }}</p>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block designs %}
    <style type="text/css">
    </style>
{% endblock %}

