{% extends 'layouts/page.html' %}

{% block content %}
<div class="col-lg-12">
	<div class="box">
		<div class="box-header">
			<h2><i class="fa fa-list"></i><span class="break"></span>Social Networks</h2>
			<div class="box-icon">
				<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
				<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
				<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="box-content buttons">
            <dl class="social-accounts">
{% for name, backend in available_backends|social_backends %}
              {% set association = associated.get(name) %}
<dt>
  {% if association %}
    <i class="fa fa-5x fa-{{ name|icon_name }} fa-social fa-in"></i>
  {% else %}
    <i class="fa fa-5x fa-{{ name|icon_name }} fa-social fa-out"></i>
  {% endif %}
</dt>
<dd>
  <div class="row">
    <div class="col-md-4">
        <div class="box">
			<div class="box-header">
				<h2><i class="fa fa-{{ name|icon_name }}"></i><span class="break"></span>Settings</h2>
			</div>
			<div class="box-content">
  {% if association %}
    <form id="{{ name }}-disconnect"
          class="disconnect-form col-md-6"
          action="{{ url("social.disconnect", backend=association.provider, association_id=association.id) }}"
          method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <a class="btn btn-large col-md-12 btn-danger" name="{{ backend|backend_class }}" href="#">
        <i class="fa fa-2x fa-unlink"></i>
        Revoke
      </a>
    </form>
      <a id="{{ name }}-button" target="_blank"
         class="col-md-6 btn btn-success"
         name="{{ backend|backend_class }}"
         href="{{ url("social.auth", backend=name) }}">
        <i class="fa fa-2x fa-user"></i>
        Profile
      </a>
  {% else %}
    {% if name == "google-plus" %}
      <div class="col-md-6 btn btn-success" id="{{ name }}-button" name="{{ backend|backend_class }}">
        <i class="fa fa-2x fa-link"></i>
        Connect
      </div>
    {% else %}
      <a id="{{ name }}-button" target="_blank"
         class="col-md-6 btn btn-success"
         name="{{ backend|backend_class }}"
         href="{{ url("social.auth", backend=name) }}">
        <i class="fa fa-2x fa-link"></i>
        Connect
      </a>
    {% endif %}
      <a id="{{ name }}-button" target="_blank"
         class="col-md-6 btn btn-warning"
         name="{{ backend|backend_class }}"
         href="{{ url("social.auth", backend=name) }}">
        <i class="fa fa-2x fa-cloud"></i>
        Console
      </a>
  {% endif %}
                <hr class="clear clearfix" />
  {% if association %}
                <p>{{ backend|credentials|json }}</p>
                <hr class="clear clearfix" />
  {% endif %}
			</div>
		</div>
    </div>
{% if backend|social_entities|length %}
    <div class="col-md-8">
        <div class="box">
			<div class="box-header">
				<h2><i class="fa fa-sitemap"></i><span class="break"></span>Entities</h2>
			</div>
			<div class="box-content">
{% for entity in backend|social_entities %}
                <a href="{{ entity.links.home }}" class="btn btn-large btn-{{ entity.style.btn }} col-{{ entity.style.box }}-{{ entity.style.col }}">
                    <i class="fa fa-{{ entity.alias|icon_name }}"></i>
                    {{ entity.label }}
                </a>
{% endfor %}
                <hr class="clear clearfix" />
			</div>
		</div>
    </div>
{% endif %}
  </div>
</dd>
{% endfor %}
            </dl>
		</div>
	</div>
</div>
{% endblock %}

{% block templates %}
    <div id="username-modal" class="modal fade">
      <form action="{{ url("social.complete", backend="username") }}" method="post" role="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Email Authentication</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="username">Username:</label>
                <input class="form-control" id="username" type="text" name="username" value="" />
              </div>

              <div class="form-group">
                <label class="control-label" for="password">Password:</label>
                <input class="form-control" id="password" type="password" name="password" value="" />
              </div>

              <div class="form-group">
                <label class="control-label" for="fullname">Full name:</label>
                <input class="form-control" id="fullname" type="text" name="fullname" value="" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="email-modal" class="modal fade">
      <form action="{{ url("social.complete", backend="email") }}" method="post" role="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Email Authentication</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="email">Email address:</label>
                <input class="form-control" id="email" type="email" name="email" value="" />
              </div>

              <div class="form-group">
                <label class="control-label" for="password">Password:</label>
                <input class="form-control" id="password" type="password" name="password" value="" />
              </div>

              <div class="form-group">
                <label class="control-label" for="fullname">Full name:</label>
                <input class="form-control" id="fullname" type="text" name="fullname" value="" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="livejournal-modal" class="modal fade">
      <form action="{{ url("social.auth", backend="livejournal") }}" method="post" role="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">LiveJournal OpenId Authentication</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="openid_lj_identifier">LiveJournal ID:</label>
                <input class="form-control" id="openid_lj_identifier" type="text" value="" name="openid_lj_user" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="openid-modal" class="modal fade">
      <form action="{{ url("social.auth", backend="openid") }}" method="post" role="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Generic OpenId Authentication</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <label class="control-label" for="openid_identifier">OpenId Provider:</label>
                <input class="form-control" id="openid_identifier" type="text" value="" name="openid_identifier" />
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="ajax-login-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ajax Authentication by AccessToken</h4>
          </div>

          <div class="modal-body">
            <form action="#" method="post" class="form-horizontal" role="form">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <div class="form-group">
                <label class="control-label" for="backend">Backend:</label>
                <select class="form-control" name="backend">
                  <option value=""></option>
                  {% for name, backend in available_backends|oauth_backends %}
                    <option value="{{ name }}">{{ backend|backend_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label class="control-label" for="access_token">Access token:</label>
                <input class="form-control" id="access_token" name="access_token" type="text" value="" placeholder="OAuth1 or OAuth2 access token">
              </div>

              <div class="form-group">
                <label class="control-label" for="access_token_secret">Access token secret:</label>
                <input class="form-control" id="access_token_secret" name="access_token_secret" type="text" value="" placeholder="OAuth1 access token secret">
              </div>
            </form>

            <div class="login-result" style="display: none;">
              <p><strong>User Id:</strong><span class="user-id"></span></p>
              <p><strong>Username:</strong><span class="user-username"></span></p>
              <p>This page will be reloaded in 10s and the user should be logged in.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>

    {% if partial_backend_name %}
      <div id="email-required-modal" class="modal fade">
        <form action="{{ url("social.complete", backend=partial_backend_name) }}" method="post" role="form">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <input type="hidden" name="partial_token" value="{{ partial_token }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email required</h4>
              </div>

              <div class="modal-body">
                <p>An email address is required.</p>
                <div class="form-group">
                  <label class="control-label" for="email">Email address:</label>
                  <input class="form-control" id="email" type="email" name="email" value="" autofocus />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Continue</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    <div id="validation-sent-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Email Validation Sent</h4>
          </div>

          <div class="modal-body">
            <p>An email validation was sent{% if email %} to <code>{{ email }}</code>{% endif %}.</p>
            <p>Click the link sent to finish the authentication process.</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% if plus_id %}
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript">
        gapi.load('auth2', function () {
          var auth2;

          auth2 = gapi.auth2.init({
            client_id: "{{ plus_id }}",
            scope: "{{ plus_scope }}"
          });

          auth2.then(function () {
            var button = document.getElementById("google-plus-button");
            console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");

            if (button) {
              auth2.attachClickHandler(button, {}, function (googleUser) {
                var authResponse = googleUser.getAuthResponse();
                var $form;
                var $input;

                $form = $("<form>");
                $form.attr("action", "{{ url("social.complete", backend="google-plus") }}");
                $form.attr("method", "post");
                $input = $("<input>");
                $input.attr("name", "access_token");
                $input.attr("value", authResponse.access_token);
                $form.append($input);
                $form.append("{{ csrf_token }}");
                $(document.body).append($form);
                $form.submit();
              });
            } else if (auth2.isSignedIn.get()) {
              $('#logout').on('click', function (event) {
                event.preventDefault();

                auth2.signOut().then(function () {
                  console.log("Logged out from Google+ platform");
                  document.location = $(event.target).attr('href');
                });
              });
            }
          });
        });
    </script>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      var modalDialog = function (modalId, modalLinkName, submitHandler) {
        var $modal;

        $modal = $(modalId).modal({show: false});

        $modal.on('click', '.btn-primary', submitHandler || function (event) {
          event.preventDefault();
          $modal.find('form').submit();
        });

        if (modalLinkName) {
          $('a[name="' + modalLinkName + '"]').on('click', function (event) {
            event.preventDefault();
            $modal.modal('toggle');
          });
        }

        return $modal;
      };

      $(function () {
        var $validationModal, $emailRequired;

        modalDialog('#livejournal-modal', 'livejournal');
        modalDialog('#openid-modal', 'openid');
        modalDialog('#email-modal', 'email');
        modalDialog('#username-modal', 'username');
        $validationModal = modalDialog('#validation-sent-modal');
        $emailRequired = modalDialog('#email-required-modal');

        modalDialog('#ajax-login-modal', 'ajax-login', function (event) {
          var $backend, $accessToken, $accessTokenSecret, $fields, $result;
          event.preventDefault();

          $modal = $(this).closest('.modal');
          $form = $modal.find('form');
          $backend = $modal.find('[name="backend"]');
          $accessToken = $modal.find('[name="access_token"]');
          $accessTokenSecret = $modal.find('[name="access_token_secret"]');
          $result = $modal.find('.login-result');

          $.get('/ajax-auth/' + $backend.val() + '/', {
            access_token: $accessToken.val(),
            access_token_secret: $accessTokenSecret.val(),
          }, function (data, xhr, response) {
            $result.find('.user-id').html(data.id);
            $result.find('.user-username').html(data.username);
            $form.hide();
            $result.show();
            setTimeout(function () { window.location = '/'; }, 10000);
          }, 'json')
        });

        $('.disconnect-form').on('click', 'a.btn', function (event) {
          event.preventDefault();
          $(event.target).closest('form').submit();
        });

        {% if validation_sent %}
          $validationModal.modal('show');
        {% endif %}

        {% if email_required %}
          $emailRequired.modal('show');
        {% endif %}
      });

$(document).ready(function() {
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
});
    </script>
{% endblock %}

{% block designs %}
        <style type="text/css">
.fa-social {
    margin: 0px 20px;
    text-align: center;
}
.fa-social.fa-in { color: green; }
.fa-social.fa-out { color: red; }

.disconnect-form {
    margin: 0px;
    padding: 0px;
}
        </style>
{% endblock %}

