{% extends 'base.html' %}

{% block container %}
    <main role="main" class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="box">
              <div class="mask"></div>
              <div class="top">
                <div class="menu but">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="search but">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </div>
              </div>
              <div class="time">
                <span id="date">Sunday</span><br>
                <span id="fulldate">September,11,2016</span>
              </div>
              <div class="temp">
                29&#8451;<i class="wi wi-solar-eclipse"></i>
              </div>
              <div class="middle">
                <span id="hi">Hello Hưng !</span>
                <div class="timeline">
                  <ul>
                    <li>
                      <div class="hour">
                        <span>8</span>
                        <span id="sub">AM</span>
                      </div>
                      <div class="work">
                        <span>have some breakfast!</span><br />
                        <span id="sub">delicious noodle</span>
                      </div>
                    </li>
                    <li>
                      <div class="hour">
                        <span>9</span>
                        <span id="sub">AM</span>
                      </div>
                      <div class="work">
                        <span>Working on my new UI design!</span><br />
                        <span id="sub">nice design !</span>
                      </div>
                    </li>
                    <li>
                      <div class="hour">
                        <span>12</span>
                        <span id="sub">AM</span>
                      </div>
                      <div class="work">
                        <span>Lunchtime!</span><br />
                        <span id="sub">awesome meat stew</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bottom">
                <button id="done"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button id="edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button id="plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
            </div>
        </div>
      </div>
      <hr>
    </main><!--/.container-->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block designs %}
    <style type="text/css">
*{
  box-sizing: border-box;
}
html{
  background-color: $fBlue;
}

.box{
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/80/91/f9/8091f9dceb2ea55fa7b57bb7295e1824.jpg);
  background-size: cover;
  width: 350px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .but{
    cursor: pointer;
  }
  .mask{
    width: 100%;
    height: 100%;
    background-color: #004d99;
    opacity: 0.5;
  }
  .top{
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.3em;
    width: 100%;
    height: 20%;
    padding: 15px;
    .menu{
      float: left;
    }
    .search{
      float: right;
    }
  }
  .time{
    position: absolute;
    top: 10%;
    color: white;
    line-height: 30px;
    font-family: "Lato";
    width: 50%;
    padding: 15px;
    height: 100px;
    float: left;
    #date{
      font-size: 2.5em;
    }
    #fulldate{
      font-size: 0.8em;
    }
  }
  .temp{
    position: absolute;
    top: 10%;
    width: 50%;
    right: 0;
    text-align: right;
    color: white;
    font-size: 2.5em;
    height: 100px;
    padding-top: 5px;
    padding-right: 15px;
  }
  .middle{
    position: absolute;
    color: white;
    top: 28%;
    width: 100%;
    
    #hi{
      font-size: 1.5em;
      margin-left: 15px;
    }
    .timeline{
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      ul{
        list-style: none;
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 0;
        li{
          margin-top: 30px;
          display: inline-block;
          width: 100%;
          height: 65px;
          
          .hour{
            float: left;
            font-size: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20%;
            
            #sub{
              font-size: 0.5em;
            }
          }
          .work{
            float: right;
            width: 80%;
            height: 100%;
            font-size: 1.2em;
            font-family: "Raleway";
            border-bottom: 1px solid white;
            #sub{
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
  .bottom{
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button{
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    #done{
      color: white;
      font-size: 1.1em;
      background-color: $fLime;
      &:hover{
        background-color: darken($fLime,10%);
      }
    }
    #edit{
      color: white;
      font-size: 1.1em;
      background-color: $fRed;
      &:hover{
        background-color: darken($fRed,10%);
      }
    }
    #plus{
      color: white;
      font-size: 1.1em;
      background-color: $fPurple;
      &:hover{
        background-color: darken($fPurple,10%);
      }
    }
  }
}
    </style>
{% endblock %}

