{% extends 'layouts/page.html' %}

{% block content %}
<div class="row">
	<div class="stats-date col-md-3">
		<div>Monthly Statistics</div>
		<div class="range">02/10/2012 - 02/11/2012</div>
	</div><!--/col-->
	<div class="stats col-md-9">
		<div class="stat">
			<div class="left">
				<div class="number green">1.324.996</div>
				<div class="title"><span class="color green"></span> Visits</div>
			</div>
			<div class="right">	
				<div class="arrow">
					<img src="assets/img/uparrow.png">
				</div>
				<div class="percent">+13%</div>
			</div>
		</div>
		<div class="stat">
			<div class="left">
				<div class="number yellow">12.894.765</div>
				<div class="title"><span class="color yellow"></span> Pageviews</div>
			</div>
			<div class="right">	
				<div class="arrow">
					<img src="assets/img/uparrow.png">
				</div>
				<div class="percent">+17%</div>
			</div>
		</div>
		<div class="stat">
			<div class="left">
				<div class="number blue">432.980</div>
				<div class="title"><span class="color blue"></span>Visitors</div>
			</div>
			<div class="right">	
				<div class="arrow">
					<img src="assets/img/downarrow.png">
				</div>
				<div class="percent">-33%</div>
			</div>
		</div>
		<div class="stat">
			<div class="left">
				<div class="number red">11.324</div>
				<div class="title"><span class="color red"></span>New Visitors</div>
			</div>
			<div class="right">	
				<div class="arrow">
					<img src="assets/img/uparrow.png">
				</div>
				<div class="percent">+3%</div>
			</div>
		</div>
	</div><!--/col-->
</div><!--/row-->	
<div class="row">
	<div class="col-xs-12 overflow:hidden">
		<div id="stats-chart2" style="height:300px;" ></div>
	</div><!--/col-->	
</div><!--/row-->
<hr>
<div class="row">
	<div class="widget col-md-5 col-sm-12">
{{ widget('example/demogr','demography','globe',title="Demographics") }}
	</div><!--/col-->
	<div class="widget col-md-3 col-sm-6">
{{ widget('example/browser','browserify','pie_chart',title="Browsers") }}
	</div><!--/col-->
	<div class="widget col-md-4 col-sm-6">
{{ widget('example/weekly','weekly-this','charts',title="Weekly Stat") }}
	</div><!--/col-->
</div><!--/row-->
<hr>
<div class="row">
	<div class="widget col-sm-6 overflow:hidden">
{{ widget('example/facebook','fb-fans','facebook',title="Facebook Fans") }}
	</div><!--/col-->
	
	<div class="widget col-sm-6 overflow:hidden">
{{ widget('example/twitter','tw-follow','twitter',title="Twitter Followers") }}
	</div><!--/col-->
</div><!--/row-->
{% autoescape off %}
<div class="col-md-6">
{{ widget('listing/tabular','xxxxxx','list') }}
</div>
<div class="col-md-6">
{{ widget('common/agenda','xxxxxx','list') }}
</div>
<div class="col-md-4">
{{ widget('common/chatter','xxxxxx','list') }}
</div>
<div class="col-md-8">
{{ widget('media/explore','elfinder','list') }}
</div>
{% endautoescape %}
{% endblock %}

{% block templates %}
{% endblock %}

{% block designs %}
        <style type="text/css">
.fa-social {
    text-align: center;
}
        </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function(){
	/* ---------- Main Chart ---------- */
	if($("#stats-chart2").length) {	
		var pageviews = [[1, 5+randNum()], [2, 10+randNum()], [3, 15+randNum()], [4, 20+randNum()],[5, 25+randNum()],[6, 30+randNum()],[7, 35+randNum()],[8, 40+randNum()],[9, 45+randNum()],[10, 50+randNum()],[11, 55+randNum()],[12, 60+randNum()],[13, 65+randNum()],[14, 70+randNum()],[15, 75+randNum()],[16, 80+randNum()],[17, 85+randNum()],[18, 90+randNum()],[19, 85+randNum()],[20, 80+randNum()],[21, 75+randNum()],[22, 80+randNum()],[23, 75+randNum()],[24, 70+randNum()],[25, 65+randNum()],[26, 75+randNum()],[27,80+randNum()],[28, 85+randNum()],[29, 90+randNum()], [30, 95+randNum()]];
		var visits = [[1, randNum2()-10], [2, randNum2()-10], [3, randNum2()-10], [4, randNum2()],[5, randNum2()],[6, 4+randNum2()],[7, 5+randNum2()],[8, 6+randNum2()],[9, 6+randNum2()],[10, 8+randNum2()],[11, 9+randNum2()],[12, 10+randNum2()],[13,11+randNum2()],[14, 12+randNum2()],[15, 13+randNum2()],[16, 14+randNum2()],[17, 15+randNum2()],[18, 15+randNum2()],[19, 16+randNum2()],[20, 17+randNum2()],[21, 18+randNum2()],[22, 19+randNum2()],[23, 20+randNum2()],[24, 21+randNum2()],[25, 14+randNum2()],[26, 24+randNum2()],[27,25+randNum2()],[28, 26+randNum2()],[29, 27+randNum2()], [30, 31+randNum2()]];
		var visitors = [[1, 5+randNum3()], [2, 10+randNum3()], [3, 15+randNum3()], [4, 20+randNum3()],[5, 25+randNum3()],[6, 30+randNum3()],[7, 35+randNum3()],[8, 40+randNum3()],[9, 45+randNum3()],[10, 50+randNum3()],[11, 55+randNum3()],[12, 60+randNum3()],[13, 65+randNum3()],[14, 70+randNum3()],[15, 75+randNum3()],[16, 80+randNum3()],[17, 85+randNum3()],[18, 90+randNum3()],[19, 85+randNum3()],[20, 80+randNum3()],[21, 75+randNum3()],[22, 80+randNum3()],[23, 75+randNum3()],[24, 70+randNum3()],[25, 65+randNum3()],[26, 75+randNum3()],[27,80+randNum3()],[28, 85+randNum3()],[29, 90+randNum3()], [30, 95+randNum3()]];
		var newVisitors = [[1, randNum4()-10], [2, randNum4()-10], [3, randNum4()-10], [4, randNum4()],[5, randNum4()],[6, 4+randNum4()],[7, 5+randNum4()],[8, 6+randNum4()],[9, 6+randNum4()],[10, 8+randNum4()],[11, 9+randNum4()],[12, 10+randNum4()],[13,11+randNum4()],[14, 12+randNum4()],[15, 13+randNum4()],[16, 14+randNum4()],[17, 15+randNum4()],[18, 15+randNum4()],[19, 16+randNum4()],[20, 17+randNum4()],[21, 18+randNum4()],[22, 19+randNum4()],[23, 20+randNum4()],[24, 21+randNum4()],[25, 14+randNum4()],[26, 24+randNum4()],[27,25+randNum4()],[28, 26+randNum4()],[29, 27+randNum4()], [30, 31+randNum4()]];

		var plot = $.plot($("#stats-chart2"),
			   [ { data: visits, label: "Visits"},
				 { data: pageviews, label: "Pageviews"},
				 { data: visitors, label: "Visitors" }, 
				 { data: newVisitors, label: "New Visitors"} ], {
				   series: {
					   lines: { show: true,
								lineWidth: 2
							 },
					   points: { show: true, 
								 lineWidth: 2 
							 },
					   shadowSize: 0
				   },
				   grid: { hoverable: true, 
						   clickable: true, 
						   tickColor: "#f9f9f9",
						   borderWidth: 0
						 },
				 legend: {
						    show: false
						},	
				   colors: ["#bdea74", "#eae874", "#2FABE9", "#FA5833"],
					xaxis: {ticks:15, tickDecimals: 0},
					yaxis: {ticks:5, tickDecimals: 0},
				 });

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		$("#stats-chart2").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));

				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);

						showTooltip(item.pageX, item.pageY,
									item.series.label + " of " + x + " = " + y);
					}
				}
				else {
					$("#tooltip").remove();
					previousPoint = null;
				}
		});
	
	}	
});
    </script>
{% endblock %}

