<!DOCTYPE html>
<html>
  <head>{% block head %}
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="/cdn/assets/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/cdn/assets/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/cdn/assets/admin/css/admin.css" rel="stylesheet">
        <link href="/cdn/assets/admin/css/forms.css" rel="stylesheet">
        <link rel="icon" href="/cdn/assets/admin/img/favicon.png" type="image/png">
        <link rel="shortcut icon" href="/cdn/assets/admin/img/favicon.png" type="image/png">
    {% endblock %}
  {% endblock %}</head>
  <body>
    {% block page_body %}
      <div class="container">

      <div class="row">
        <div class="span2">
          <ul id="main-nav" class="nav nav-pills nav-stacked">
            {% for item in admin_view.admin.menu() %}
              {% if item.is_category() %}
                {% set children = item.get_children() %}
                {% if children %}
                  {% if item.is_active(admin_view) %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% for child in children %}
                      {% if child.is_active(admin_view) %}<li class="active">{% else %}<li>{% endif %}
                        <a href="{{ child.get_url() }}">{{ child.name }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% else %}
                {% if item.is_accessible() %}
                  {% if item.is_active(admin_view) %}<li class="active">{% else %}<li>{% endif %}
                    <a href="{{ item.get_url() }}">{{ item.name }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>


    <div id="content" class="span10">
          {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, m in messages %}
          {% if category == 'error' %}
          <div class="alert alert-error">
          {% else %}
          <div class="alert">
          {% endif %}
            <a href="#" class="close" data-dismiss="alert">x</a>
            {{ m }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      {% block body %}{% endblock %}
    </div>
  
    {% endblock %}
  </div>
  </div>
    <script src="/cdn/assets/admin/js/jquery.min.js"></script>
    <script src="/cdn/assets/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/cdn/assets/admin/chosen/chosen.jquery.min.js"></script>
    <script src="/cdn/assets/admin/js/jquery.browser.js" type="text/javascript"></script>

    {% block tail %}
    {% endblock %}
  </body>
</html>
