{% extends 'widget/base.html' %}

{% block title %}jQuery DropZone{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">×</button>
	Drag & drop file upload with image preview
</div>
<div class="form-group">
	<label class="control-label">File Upload</label>
	<div class="controls">
	  	<div id="dropzone">
			<form action="http://bootstrapmaster.com/live/acme2/test.html" class="dropzone">
				<div class="fallback">
					<input name="file" type="file" multiple="" />
				</div>
			</form>
		</div>
	</div>
</div>	  
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function(){
	/*------ Dropzone Init ------*/
	$(".dropzone").dropzone();
});
    </script>
{% endblock %}

