{% extends 'widget/base.html' %}

{% block title %}elFinder Explorer{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<i class="fa fa-info-sign"></i> As its a demo, you currently have read-only permission, in your server you may do everything like, upload or delete. It will work on a server only.
</div>
<div class="file-manager"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
    /* ---------- File Manager ---------- */
    var elf = $('.file-manager').elfinder({
	    url : 'assets/misc/elfinder-connector/connector.php'  // connector URL (REQUIRED)
    }).elfinder('instance');
});
    </script>
{% endblock %}

