{% extends 'widget/base.html' %}

{% block title %}Media Gallery{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="row">
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo1.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo2.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo3.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo4.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo5.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo6.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo7.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo8.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo9.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo10.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo11.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo12.jpg" alt="Sample Image">
	</div>
	<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
		<img class="img-thumbnail" src="assets/img/gallery/photo13.jpg" alt="Sample Image">
	</div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
});
    </script>
{% endblock %}

