{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="example-2-result" class="backgrid-container"></div>
    </div>
</div>
{% endblock %}

{% block designs %}
    <link href="/cdn/browse/backgrid/lib/backgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="/cdn/browse/backgrid-select-all/backgrid-select-all.min.css" rel="stylesheet" type="text/css" />
    <link href="/cdn/browse/backgrid-paginator/backgrid-paginator.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">

    </style>
{% endblock %}

{% block plugins %}
    <script src="/cdn/browse/backbone-pageable/lib/backbone-pageable.js"></script>
    <script src="/cdn/browse/backgrid/lib/backgrid.min.js"></script>
    <script src="/cdn/browse/backgrid-select-all/backgrid-select-all.min.js"></script>
    <script src="/cdn/browse/backgrid-paginator/backgrid-paginator.min.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(function () {
    var Territory = Backbone.Model.extend({});

    var Territories = Backbone.Collection.extend({
        model: Territory,
      url: "/social/tokens.json",
    });

    var columns = [{
        name: "id", // The key of the model attribute
        label: "ID", // The name to display in the header
        editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
        // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
        cell: Backgrid.IntegerCell.extend({
          orderSeparator: ''
        })
    },{
        name: "owner",
        label: "Owner",
        // The cell type can be a reference of a Backgrid.Cell subclass, any Backgrid.Cell subclass instances like *id* above, or a string
        cell: "string" // This is converted to "StringCell" and a corresponding class in the Backgrid package namespace is looked up
    },{
        name: "cloud",
        label: "Provider",
        cell: "string" // An integer cell is a number cell that displays humanized integers
    },{
        name: "user",
        label: "Online User",
        cell: "number" // A cell type for floating point value, defaults to have a precision 2 decimal numbers
    },{
        name: "when",
        label: "Release At",
        cell: "date"
    },{
        name: "expire",
        label: "Expires at",
        cell: "date"
    },{
        name: "token",
        label: "Access Token",
        cell: "string" // Renders the value in an HTML anchor element
    },{
        name: "scopes",
        label: "API Scopes",
        cell: "string" // Renders the value in an HTML anchor element
    },{
        name: "salt",
        label: "Access Salt",
        cell: "string" // Renders the value in an HTML anchor element
    }];

    var territories = new Territories();

    var PageableTerritories = Backbone.PageableCollection.extend({
      model: Territory,
      url: "/social/tokens.json",
      state: {
        pageSize: 15
      },
      mode: "client" // page entirely on the client side
    });

    var pageableTerritories = new PageableTerritories();

    // Set up a grid to use the pageable collection
    var pageableGrid = new Backgrid.Grid({
      columns: [{
        // enable the select-all extension
        name: "",
        cell: "select-row",
        headerCell: "select-all"
      }].concat(columns),
      collection: pageableTerritories
    });

    // Render the grid
    var $example2 = $("#example-2-result");
    $example2.append(pageableGrid.render().el)

    // Initialize the paginator
    var paginator = new Backgrid.Extension.Paginator({
      collection: pageableTerritories
    });

    // Render the paginator
    $example2.after(paginator.render().el);

    /*
    // Initialize a client-side filter to filter on the client
    // mode pageable collection's cache.
    var filter = new Backgrid.Extension.ClientSideFilter({
      collection: pageableTerritories,
      fields: ['name']
    });

    // Render the filter
    $example2.before(filter.render().el);

    // Add some space to the filter and move it to the right
    $(filter.el).css({float: "right", margin: "20px"});
    //*/

    // Fetch some data
    pageableTerritories.fetch({reset: true});
});
    </script>
{% endblock %}

