{% extends 'layouts/page.html' %}

{% block content %}
<div class="col-lg-12">
	<div class="box">
		<div class="box-header">
			<h2><i class="fa fa-list"></i><span class="break"></span>Social Networks</h2>
			<div class="box-icon">
				<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
				<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
				<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
		<div class="box-content buttons">
		</div>
	</div>
</div>
{% endblock %}

{% block templates %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
});
    </script>
{% endblock %}

{% block designs %}
        <style type="text/css">
.fa-social {
    text-align: center;
}
        </style>
{% endblock %}

