{% extends 'layouts/page.html' %}

{% block content %}
<div class="col-lg-12">
	<div class="box">
{% set backend = available_backends|get_backend(provider) %}
		<div class="box-header">
			<h2><i class="fa fa-{{ backend.name|icon_name }}"></i><span class="break"></span>Settings</h2>
			<div class="box-icon">
				<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
				<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
				<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
			</div>
		</div>
{% set association = associated.get(name) %}
		<div class="box-content buttons">
{% if association %}
<form id="{{ name }}-disconnect"
      class="disconnect-form col-md-6"
      action="{{ url("social.disconnect", backend=association.provider, association_id=association.id) }}"
      method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <a class="btn btn-large btn-danger" name="{{ backend|backend_class }}" href="#">
    <i class="fa fa-2x fa-unlink"></i>
    Revoke
  </a>
</form>
  <a id="{{ name }}-button" target="_blank"
     class="col-md-6 btn btn-success"
     name="{{ backend|backend_class }}"
     href="{{ url("social.auth", backend=name) }}">
    <i class="fa fa-2x fa-user"></i>
    Profile
  </a>
{% else %}
{% if name == "google-plus" %}
  <div class="col-md-6 btn btn-success" id="{{ name }}-button" name="{{ backend|backend_class }}">
    <i class="fa fa-2x fa-link"></i>
    Connect
  </div>
{% else %}
  <a id="{{ name }}-button" target="_blank"
     class="col-md-6 btn btn-success"
     name="{{ backend|backend_class }}"
     href="{{ url("social.auth", backend=name) }}">
    <i class="fa fa-2x fa-link"></i>
    Connect
  </a>
{% endif %}
  <a id="{{ name }}-button" target="_blank"
     class="col-md-6 btn btn-warning"
     name="{{ backend|backend_class }}"
     href="{{ url("social.auth", backend=name) }}">
    <i class="fa fa-2x fa-cloud"></i>
    Console
  </a>
{% endif %}
            <hr class="clear clearfix" />
{% if association %}
            <p>{{ backend|credentials|json }}</p>
            <hr class="clear clearfix" />
{% endif %}
		</div>
    </div>
</div>
{% for entity in backend|social_entities %}
<div class="col-col-{{ entity.style.uni }}-{{ entity.style.col }}">
    <div class="box box-{{ entity.style.box }}">
		<div class="box-header">
			<h2>
                <i class="fa fa-{{ entity.alias|icon_name }}"></i>
                <span class="break"></span>
                {{ entity.label }}
            </h2>
			<div class="box-icon">
{% for name,link in entity.links.iteritems() %}
<a href="{{ link }}" class="btn-{{ name }}"><i class="fa fa-{{ name|icon_name }}"></i></a>
{% endfor %}
			</div>
		</div>
		<div class="box-content">
            <code>{{ entity.schema|yaml|escape }}</code>
            <hr class="clear clearfix" />
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
/*
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
//*/
});
    </script>
{% endblock %}

{% block designs %}
        <style type="text/css">
.fa-social {
    margin: 0px 20px;
    text-align: center;
}
.fa-social.fa-in { color: green; }
.fa-social.fa-out { color: red; }

.disconnect-form {
    margin: 0px;
    padding: 0px;
}
        </style>
{% endblock %}

