{% extends 'widget/base.html' %}

{% block title %}Nested{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="browserStat big">
	<img src="assets/img/browser-chrome-big.png" alt="Chrome">
	<span>34%</span>
</div>
<div class="browserStat big">
	<img src="assets/img/browser-firefox-big.png" alt="Firefox">
	<span>34%</span>
</div>
<div class="browserStat">
	<img src="assets/img/browser-ie.png" alt="Internet Explorer">
	<span>34%</span>
</div>
<div class="browserStat">
	<img src="assets/img/browser-safari.png" alt="Safari">
	<span>34%</span>
</div>
<div class="browserStat">
	<img src="assets/img/browser-opera.png" alt="Opera">
	<span>34%</span>
</div>	
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

