{% extends 'widget/base.html' %}

{% block title %}Nested{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="verticalChart">
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>37%</span>
			</div>
		</div>
		<div class="title">US</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>16%</span>
			</div>
		</div>
		<div class="title">PL</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>12%</span>
			</div>
		</div>
		<div class="title">GB</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>9%</span>
			</div>
		</div>
		<div class="title">DE</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>7%</span>
			</div>
		</div>
		<div class="title">NL</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>6%</span>
			</div>
		</div>
		<div class="title">CA</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>5%</span>
			</div>
		</div>
		<div class="title">FI</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>4%</span>
			</div>
		</div>
		<div class="title">RU</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>3%</span>
			</div>
		</div>
		<div class="title">AU</div>
	</div>
	<div class="singleBar">
		<div class="bar">
			<div class="value">
				<span>1%</span>
			</div>
		</div>
		<div class="title">N/A</div>
	</div>	
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
	/* ---------- Demographics Bar Chart ---------- */
	if($('.verticalChart')) {
		
		$('.singleBar').each(function(){
			
			var percent = $(this).find('.value span').html();
			
			$(this).find('.value').animate({height:percent}, 2000, function() {
			    
				$(this).find('span').fadeIn();
			 
			});
			
		});
		
	}
});
    </script>
{% endblock %}

