{% if headfull %}
<div class="box">
	<div class="box-header">
		<h2>
{% block headers %}
<i class="fa fa-{{ icon }}"></i><span class="break"></span>{% block title %}Custom Widget{% endblock %}
{% endblock %}
        </h2>
		<div class="box-icon">
{% block options %}
			<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
			<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}
		</div>
	</div>
	<div class="box-content buttons">
{% endif %}
{% block content %}
{% endblock %}
{% if headfull %}
	</div>
{% endif %}
{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
});
    </script>
{% endblock %}
{% if headfull %}
</div>
{% endif %}

