{% extends 'widget.html' %}

{% block title %}Circle Chart{% endblock %}

{% block options %}
			<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
			<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
  $('.social-accounts').gridtab({
      grid: 7,
      tabPadding: 0,
      borderWidth: 5,
      contentPadding: 7,
  });
});
    </script>
{% endblock %}

