<!doctype html>
<html>
  <head>
    <title>Tohoku :: {{ page_title }}</title>
    <link href="/cdn/browse/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/cdn/browse/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
      h1 { padding: 0 30px; }
      .col-md-2 { width: 18.6667%; }
      .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div .btn { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
      .disconnect-form { padding: 0; margin: 0px 10px; }
      .disconnect-form > a { display: block; margin: 5px 0 !important; }

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
    </style>
{% block styles %}
{% endblock %}
{% block designs %}
{% endblock %}
  </head>
  <body>
{% block html %}
{% block header %}
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      {% if user.is_authenticated %}
        <a class="navbar-brand" href="/profile">Welcome, <code>{{ user.username }}</code> !</a>
      {% else %}
        <a class="navbar-brand" href="/login">Who are you ?</a>
      {% endif %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
{% block topbar %}
{% block navbar %}
                <ul class="navbar-nav mr-auto">
{% for entry in page.topmenu %}
{% if entry.list|length %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
{% if entry.link|length %}
                       href="{{ entry.link }}" 
{% else %}
                       href="#" 
{% endif %}
                           data-toggle="dropdown" 
                           aria-haspopup="true" 
                           aria-expanded="false">{{ entry.name }}</a>
                    <div class="dropdown-menu">
{% for item in entry.list %}
<a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
{% endfor %}
                        </div>
                    </li>
{% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ entry.link }}">{{ entry.name }}</a>
                    </li>
{% endif %}
{% endfor %}
                </ul>
{% endblock %}
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group">
<span class="input-group-addon"><i class="fa fa-search"></i></span>
<input type="text" class="form-control" placeholder="Search here ..." aria-describedby="basic-addon1">
                    </div>
                </form>
{% endblock %}
            </div>
        </nav>
    </header>
{% endblock %}
{% block container %}
    <main role="main">
{% block content %}
{% endblock %}
    </main>
{% endblock %}
{% block footer %}
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
{% endblock %}
{% endblock %}
    <script src="/cdn/browse/jquery/dist/jquery.min.js"></script>
    <script src="/cdn/browse/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/cdn/browse/underscore/underscore-min.js"></script>
    <script src="/cdn/browse/moment/min/moment-with-locales.min.js"></script>
    <script src="/cdn/browse/backbone/backbone.js"></script>
{% block plugins %}{% endblock %}
    
{% block scripts %}{% endblock %}
  </body>
</html>

