<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
        <title>Tohoku :: {{ page_title }}</title>

	    <meta name="description" content="ACME Dashboard Bootstrap Admin Template.">
	    <meta name="author" content="Łukasz Holeczek">
	    <meta name="keyword" content="ACME, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="/cdn/assets/manage/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/cdn/assets/manage/css/style.min.css" rel="stylesheet">
	    <link href="/cdn/assets/manage/css/retina.min.css" rel="stylesheet">

	    <!--[if lt IE 9]>
	      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		    <script src="/cdn/assets/manage/js/respond.min.js"></script>
		    <link href="/cdn/assets/manage/css/ie.css" rel="stylesheet">
	    <![endif]-->
	
	    <!--[if IE 9]>
		    <link id="ie9style" href="/cdn/assets/manage/css/ie9.css" rel="stylesheet">
	    <![endif]-->

	    <link href="/cdn/assets/manage/css/gridtab.min.css" rel="stylesheet">
	
	    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/cdn/assets/manage/ico/apple-touch-icon-144-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/cdn/assets/manage/ico/apple-touch-icon-114-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/cdn/assets/manage/ico/apple-touch-icon-72-precomposed.png">
	    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/cdn/assets/manage/ico/apple-touch-icon-57-precomposed.png">
	    <link rel="shortcut icon" href="/cdn/assets/manage/ico/favicon.png">
{% block styles %}
{% endblock %}
        <link href="/cdn/browse/font-awesome/css/fontawesome.min.css" rel="stylesheet">
{% block designs %}
{% endblock %}
        <script type="text/javascript">
function randNum(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20)* 1200;
}

function randNum2(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20) * 500;
}

function randNum3(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20) * 300;
}

function randNum4(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20) * 100;
}

function randNumFB(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20);
}

function randNumTW(){
	return ((Math.floor( Math.random()* (1+40-20) ) ) + 20);
}
        </script>
    </head>
    <body>
	    <div class="navbar">
		    <div class="navbar-inner">
			    <div class="container">
{% include "include/navbar.html" %}
			    </div>
		    </div>
	    </div>
		<div class="container">
		    <div class="row">
			    <div id="sidebar-left" class="col-sm-1">
				    <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
{% include "include/sidenav.html" %}
				    </div>
			    </div>
			    <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
{% block container %}
			    <div id="content" class="col-sm-11">
{% block content %}
{% endblock %}
			    </div>
{% endblock %}
                <div id="widgets-area" class="col-sm-2">
                </div>
                <a id="widgets-area-button" class="hidden-sm hidden-xs open"><i class="fa fa-bars"></i></a>				
	        </div><!--/row-->
		    <div class="modal fade" id="myModal">
			    <div class="modal-dialog">
				    <div class="modal-content">
					    <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 class="modal-title">Modal title</h4>
					    </div>
					    <div class="modal-body">
						    <p>Here settings can be configured...</p>
					    </div>
					    <div class="modal-footer">
						    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						    <button type="button" class="btn btn-primary">Save changes</button>
					    </div>
				    </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
		    </div><!-- /.modal -->
	    </div><!--/container-->
	    <div class="clearfix"></div>
	    <footer>
		    <div class="row">
			    <div class="col-sm-5">
				    &copy; 2015 creativeLabs. <a href="http://bootstrapmaster.com/">Admin Templates</a> by BootstrapMaster
			    </div><!--/.col-->
			    <div class="col-sm-7 text-right">
				    Powered by: <a href="http://bootstrapmaster.com/demo/acme/" alt="Bootstrap Admin Templates">ACME Dashboard</a> | Based on Bootstrap 3.1.1 | Built with Brix.io
			    </div><!--/.col-->	
		    </div><!--/.row-->
	    </footer>
{% block templates %}
{% endblock %}
	    <!-- start: JavaScript-->
	    <!--[if !IE]>-->

			    <script src="/cdn/assets/manage/js/jquery-2.1.0.min.js"></script>

	    <!--<![endif]-->

	    <!--[if IE]>
	
		    <script src="/cdn/assets/manage/js/jquery-1.11.0.min.js"></script>
	
	    <![endif]-->

	    <!--[if !IE]>-->

		    <script type="text/javascript">
			    window.jQuery || document.write("<script src='/cdn/assets/manage/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
		    </script>

	    <!--<![endif]-->

	    <!--[if IE]>
	
		    <script type="text/javascript">
	     	window.jQuery || document.write("<script src='/cdn/assets/manage/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
		    </script>
		
	    <![endif]-->
	    <script src="/cdn/assets/manage/js/jquery-migrate-1.2.1.min.js"></script>
	        <script src="/cdn/assets/manage/js/bootstrap.min.js"></script>
            <script src="/cdn/browse/underscore/underscore-min.js"></script>
            <script src="/cdn/browse/moment/min/moment-with-locales.min.js"></script>
            <script src="/cdn/browse/backbone/backbone.js"></script>
	    <script src="/cdn/assets/manage/js/jquery-ui-1.10.3.custom.min.js"></script>
    	    <script src="/cdn/assets/manage/js/fullcalendar.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.nestable.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.knob.modified.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.chosen.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.autosize.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.placeholder.min.js"></script>
    	    <script src="/cdn/assets/manage/js/jquery.sparkline.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.elfinder.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.dataTables.min.js"></script>
	        <script src="/cdn/assets/manage/js/dataTables.bootstrap.min.js"></script>
	        <script src="/cdn/assets/manage/js/counter.min.js"></script>
	        <script src="/cdn/assets/manage/js/dropzone.min.js"></script>
	        <script src="/cdn/assets/manage/js/wizard.min.js"></script>
	    <script src="/cdn/assets/manage/js/jquery.flot.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.flot.pie.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.flot.stack.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.flot.resize.min.js"></script>
	        <script src="/cdn/assets/manage/js/jquery.flot.time.min.js"></script>
	    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/cdn/assets/manage/js/excanvas.min.js"></script><![endif]-->
	    <script src="/cdn/assets/manage/js/retina.min.js"></script>
	    <script src="/cdn/assets/manage/js/raphael.min.js"></script>
	    <script src="/cdn/assets/manage/js/justgage.1.0.1.min.js"></script>

	    <!-- theme scripts -->
        <script src="/cdn/assets/manage/js/gridtab.min.js"></script>

	    <script src="/cdn/assets/manage/js/custom.min.js"></script>
	    <script src="/cdn/assets/manage/js/core.min.js"></script>

{% block plugins %}{% endblock %}
	
	    <!-- inline scripts related to this page -->
	    <script src="/cdn/assets/manage/js/pages/index.js"></script>
	    <script src="/cdn/assets/manage/js/pages/form-dropzone.js"></script>
    	<script src="/cdn/assets/manage/js/pages/file-manager.js"></script>
    
{% block scripts %}{% endblock %}
    </body>
</html>

