{% extends 'base.html' %}

{% block content %}
<div>
{% for snippet in wrapper.snippets %}
    <code class="snippet {{ snippet.runner.alias }}">
{{ snippet.source }}
    </code>
{% endfor %}
</div>
{% endblock %}

{% block designs %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
{% endblock %}

{% block plugins %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{% endblock %}

{% block scripts %}
<script>
hljs.configure({useBR: true});

$('code.snippet').each(function(i, block) {
    hljs.highlightBlock(block);
});
</script>
{% endblock %}

