{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
{% for snippet in wrapper.snippets %}
        <div class="snippet">
            <code class="{{ snippet.runner.alias }}">{{ snippet.source|escape }}</code>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}

{% block designs %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
{% endblock %}

{% block plugins %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{% endblock %}

{% block scripts %}
<script>
hljs.configure({useBR: true});

$('div.snippet code').each(function(i, block) {
    hljs.highlightBlock(block);
});
</script>
{% endblock %}

