{% extends 'base.html' %}

{% block content %}
    <p>
    This example listens for events <code>select</code>, <code>click</code>, <code>doubleClick</code>, <code>rangechange</code>, and <code>rangechanged</code> of the Timeline (other possible events: <code>mouseDown</code>, <code>mouseUp</code>, <code>mouseOver</code>, <code>mouseMove</code>), and listens for changes in the DataSet (<code>add</code>, <code>update</code>, or <code>remove</code> items).
    </p>
    <div id="visualization"></div>
    <p></p>
    <div id="hoveredItem"></div>
    <div id="log"></div>
{% endblock %}

{% block plugins %}
    <script src="/cdn/browse/vis/dist/vis.js"></script>
{% endblock %}

{% block designs %}
    <link href="/cdn/browse/vis/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
body, html {
  font-family: sans-serif;
  font-size: 10pt;
}

.vis.timeline .item {
  border-color: #acacac;
  background-color: #efefef;
  box-shadow: 5px 5px 10px rgba(128,128,128, 0.3);
}

table .description {
  font-style: italic;
}

#visualization {
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  right: 10px;
  top: 10px;
}
.logo img {
  width: 120px;
}
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
var items = new vis.DataSet([
    {id: 1, content: 'item 1', start: '2013-04-20'},
    {id: 2, content: 'item 2', start: '2013-04-14'},
    {id: 3, content: 'item 3', start: '2013-04-18'},
    {id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
    {id: 5, content: 'item 5', start: '2013-04-25'},
    {id: 6, content: 'item 6', start: '2013-04-27'}
]);

var container = document.getElementById('visualization');
var options = {
    editable: true,
    onInitialDrawComplete: function() {
        logEvent('Timeline initial draw completed', {});
    },
};
var timeline = new vis.Timeline(container, items, options);

timeline.on('rangechange', function (properties) {
    logEvent('rangechange', properties);
});

timeline.on('rangechanged', function (properties) {
    logEvent('rangechanged', properties);
});

timeline.on('select', function (properties) {
    logEvent('select', properties);
});

timeline.on('itemover', function (properties) {
    logEvent('itemover', properties);
    setHoveredItem(properties.item);
});

timeline.on('itemout', function (properties) {
    logEvent('itemout', properties);
    setHoveredItem('none');
});

timeline.on('click', function (properties) {
    logEvent('click', properties);
});

timeline.on('doubleClick', function (properties) {
    logEvent('doubleClick', properties);
});

timeline.on('contextmenu', function (properties) {
    logEvent('contextmenu', properties);
});

timeline.on('mouseDown', function (properties) {
    logEvent('mouseDown', properties);
});

timeline.on('mouseUp', function (properties) {
    logEvent('mouseUp', properties);
});

// other possible events:

// timeline.on('mouseOver', function (properties) {
//   logEvent('mouseOver', properties);
// });

// timeline.on("mouseMove", function(properties) {
//   logEvent('mouseMove', properties);
// });

items.on('*', function (event, properties) {
  logEvent(event, properties);
});

function stringifyObject (object) {
  if (!object) return;
  var replacer = function(key, value) {
    if (value && value.tagName) {
      return "DOM Element";
    } else {
      return value;
    }
  }
  return JSON.stringify(object, replacer)
}

function logEvent(event, properties) {
  var log = document.getElementById('log');
  var msg = document.createElement('div');
  msg.innerHTML = 'event=' + JSON.stringify(event) + ', ' +
      'properties=' + stringifyObject(properties);
  log.firstChild ? log.insertBefore(msg, log.firstChild) : log.appendChild(msg);
}

function setHoveredItem(id) {
  var hoveredItem = document.getElementById('hoveredItem');
  hoveredItem.innerHTML = 'hoveredItem=' + id;
}
    </script>

<!--
<script type="text/javascript">
  // create a handlebars template
  var source   = document.getElementById('item-template').innerHTML;
  var template = Handlebars.compile(document.getElementById('item-template').innerHTML);

  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet([
    // round of 16
    {
      player1: 'Brazil',
      abbr1: 'br',
      score1: '1 (3)',
      player2: 'Chile',
      abbr2: 'cl',
      score2: '1 (2)',
      description: 'round of 16',
      start: '2014-06-28T13:00:00'
    },
    {
      player1: 'Colombia',
      abbr1: 'co',
      score1: 2,
      player2: 'Uruguay',
      abbr2: 'uy',
      score2: 0,
      description: 'round of 16',
      start: '2014-06-28T17:00:00'
    },
    {
      player1: 'Netherlands',
      abbr1: 'nl',
      score1: 2,
      player2: 'Mexico',
      abbr2: 'mx',
      score2: 1,
      description: 'round of 16',
      start: '2014-06-29T13:00:00'
    },
    {
      player1: 'Costa Rica',
      abbr1: 'cr',
      score1: '1 (5)',
      player2: 'Greece',
      abbr2: 'gr',
      score2: '1 (3)',
      description: 'round of 16',
      start: '2014-06-29T17:00:00'
    },
    {
      player1: 'France',
      abbr1: 'fr',
      score1: 2,
      player2: 'Nigeria',
      abbr2: 'ng',
      score2: 0,
      description: 'round of 16',
      start: '2014-06-30T13:00:00'
    },
    {
      player1: 'Germany',
      abbr1: 'de',
      score1: 2,
      player2: 'Algeria',
      abbr2: 'dz',
      score2: 1,
      description: 'round of 16',
      start: '2014-06-30T17:00:00'
    },
    {
      player1: 'Argentina',
      abbr1: 'ar',
      score1: 1,
      player2: 'Switzerland',
      abbr2: 'ch',
      score2: 0,
      description: 'round of 16',
      start: '2014-07-01T13:00:00'
    },
    {
      player1: 'Belgium',
      abbr1: 'be',
      score1: 2,
      player2: 'USA',
      abbr2: 'us',
      score2: 1,
      description: 'round of 16',
      start: '2014-07-01T17:00:00'
    },

    // quarter-finals
    {
      player1: 'France',
      abbr1: 'fr',
      score1: 0,
      player2: 'Germany',
      abbr2: 'de',
      score2: 1,
      description: 'quarter-finals',
      start: '2014-07-04T13:00:00'
    },
    {
      player1: 'Brazil',
      abbr1: 'br',
      score1: 2,
      player2: 'Colombia',
      abbr2: 'co',
      score2: 1,
      description: 'quarter-finals',
      start: '2014-07-04T17:00:00'
    },
    {
      player1: 'Argentina',
      abbr1: 'ar',
      score1: 1,
      player2: 'Belgium',
      abbr2: 'be',
      score2: 0,
      description: 'quarter-finals',
      start: '2014-07-05T13:00:00'
    },
    {
      player1: 'Netherlands',
      abbr1: 'nl',
      score1: '0 (4)',
      player2: 'Costa Rica',
      abbr2: 'cr',
      score2: '0 (3)',
      description: 'quarter-finals',
      start: '2014-07-05T17:00:00'
    },

    // semi-finals
    {
      player1: 'Brazil',
      abbr1: 'br',
      score1: 1,
      player2: 'Germany',
      abbr2: 'de',
      score2: 7,
      description: 'semi-finals',
      start: '2014-07-08T17:00:00'
    },
    {
      player1: 'Netherlands',
      abbr1: 'nl',
      score1: '0 (2)',
      player2: 'Argentina',
      abbr2: 'ar',
      score2: '0 (4)',
      description: 'semi-finals',
      start: '2014-07-09T17:00:00'
    },

    // final
    {
      player1: 'Germany',
      score1: 1,
      abbr1: 'de',
      player2: 'Argentina',
      abbr2: 'ar',
      score2: 0,
      description: 'final',
      start: '2014-07-13T16:00:00'
    }
  ]);

  // Configuration for the Timeline
  var options = {
    // specify a template for the items
    template: template
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);
</script>
//-->
{% endblock %}

