{% extends 'widget/base.html' %}

{% block title %}Complex Table{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<table class="table table-striped table-bordered bootstrap-datatable datatable">
  <thead>
	  <tr>
		  <th>Username</th>
		  <th>Date registered</th>
		  <th>Role</th>
		  <th>Status</th>
		  <th>Actions</th>
	  </tr>
  </thead>   
  <tbody>
	<tr>
		<td>Anton Phunihel</td>
		<td class="center">2012/01/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>  
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>  
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Alphonse Ivo</td>
		<td class="center">2012/01/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>  
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>  
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Thancmar Theophanes</td>
		<td class="center">2012/01/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>  
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>  
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
		</td>
	</tr>
	<tr>
		<td>Walerian Khwaja</td>
		<td class="center">2012/01/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Clemens Janko</td>
		<td class="center">2012/02/01</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Chidubem Gottlob</td>
		<td class="center">2012/02/01</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Hristofor Sergio</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Tadhg Griogair</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Pollux Beaumont</td>
		<td class="center">2012/01/21</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Adam Alister</td>
		<td class="center">2012/01/21</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Carlito Roffe</td>
		<td class="center">2012/08/23</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Sana Amrin</td>
		<td class="center">2012/08/23</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Adinah Ralph</td>
		<td class="center">2012/06/01</td>
		<td class="center">Admin</td>
		<td class="center">
			<span class="label label-default">Inactive</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Dederick Mihail</td>
		<td class="center">2012/06/01</td>
		<td class="center">Admin</td>
		<td class="center">
			<span class="label label-default">Inactive</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 
			</a>
		</td>
	</tr>
	<tr>
		<td>Hipólito András</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Fricis Arieh</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Scottie Maximilian</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Bao Gaspar</td>
		<td class="center">2012/01/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Tullio Luka</td>
		<td class="center">2012/02/01</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Felice Arseniy</td>
		<td class="center">2012/02/01</td>
		<td class="center">Admin</td>
		<td class="center">
			<span class="label label-default">Inactive</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Finlay Alf</td>
		<td class="center">2012/02/01</td>
		<td class="center">Admin</td>
		<td class="center">
			<span class="label label-default">Inactive</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Theophilus Nala</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Sullivan Robert</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Kristóf Filiberto</td>
		<td class="center">2012/01/21</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Kuzma Edvard</td>
		<td class="center">2012/01/21</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-success">Active</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Bünyamin Kasper</td>
		<td class="center">2012/08/23</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Crofton Arran</td>
		<td class="center">2012/08/23</td>
		<td class="center">Staff</td>
		<td class="center">
			<span class="label label-important">Banned</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Bernhard Shelah</td>
		<td class="center">2012/06/01</td>
		<td class="center">Admin</td>
		<td class="center">
			<span class="label label-default">Inactive</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Grahame Miodrag</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Innokentiy Celio</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Kostandin Warinhari</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
	<tr>
		<td>Ajith Hristijan</td>
		<td class="center">2012/03/01</td>
		<td class="center">Member</td>
		<td class="center">
			<span class="label label-warning">Pending</span>
		</td>
		<td class="center">
			<a class="btn btn-success" href="table.html#">
				<i class="fa fa-search-plus "></i>                                            
			</a>
			<a class="btn btn-info" href="table.html#">
				<i class="fa fa-edit "></i>                                            
			</a>
			<a class="btn btn-danger" href="table.html#">
				<i class="fa fa-trash-o "></i> 

			</a>
		</td>
	</tr>
  </tbody>
</table>            
<div class="pagination pagination-centered">
  <ul class="pagination">
	<li><a href="table.html#">Prev</a></li>
	<li class="active">
	  <a href="table.html#">1</a>
	</li>
	<li><a href="table.html#">2</a></li>
	<li><a href="table.html#">3</a></li>
	<li><a href="table.html#">4</a></li>
	<li><a href="table.html#">Next</a></li>
  </ul>
</div>     
{% endblock %}

{% block scripts %}
	<script src="assets/js/pages/table.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
	/* ---------- Datable ---------- */
	$('.datatable').dataTable({
		"sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records per page"
		}
	});
});
    </script>
{% endblock %}

