{% extends 'widget/base.html' %}

{% block title %}Issue Tracker{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<ul class="tickets">
	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">Server unavaible</span>
				<span class="number">[ #199278 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar6.jpg" alt="Avatar"></span>
				<span class="name">Ashley Tan</span>
				<span class="priority blue">[ Low priority ]</span>
				<span class="status">Status: <span class="green">[ Complete ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
  	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">Mobile App Problem</span>
				<span class="number">[ #199277 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar7.jpg" alt="Avatar"></span>
				<span class="name">Ann Kovalsky</span>
				<span class="priority yellow">[ Normal priority ]</span>
				<span class="status">Status: <span class="yellow">[ Pending ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">PayPal issue</span>
				<span class="number">[ #199276 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar8.jpg" alt="Avatar"></span>
				<span class="name">Chris Dan</span>
				<span class="priority red">[ High priority ]</span>
				<span class="status">Status: <span class="blue">[ In progress ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">IE7 problem</span>
				<span class="number">[ #199275 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar9.jpg" alt="Avatar"></span>
				<span class="name">John Grand</span>
				<span class="priority blue">[ Low priority ]</span>
				<span class="status">Status: <span class="red">[ Rejected ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">Server unavaible</span>
				<span class="number">[ #199274 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar2.jpg" alt="Avatar"></span>
				<span class="name">Agnes Young</span>
				<span class="priority blue">[ Low priority ]</span>
				<span class="status">Status: <span class="green">[ Complete ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
  	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">Mobile App Problem</span>
				<span class="number">[ #199273 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar3.jpg" alt="Avatar"></span>
				<span class="name">Melanie Brown</span>
				<span class="priority yellow">[ Normal priority ]</span>
				<span class="status">Status: <span class="yellow">[ Pending ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
	<li class="ticket">
		<a href="widgets.html#">
			<span class="header">
				<span class="title">PayPal issue</span>
				<span class="number">[ #199272 ]</span>
			</span>	
			<span class="content">
				<span class="avatar"><img src="assets/img/avatar4.jpg" alt="Avatar"></span>
				<span class="name">Patricia Doyle</span>
				<span class="priority red">[ High priority ]</span>
				<span class="status">Status: <span class="blue">[ In progress ]</span></span>
				<span class="date">Jul 25, 2012 11:09</span>
			</span>	                                                        
		</a>
	</li>
</ul>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

