{% extends 'widget/base.html' %}

{% block title %}Nested lists{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<menu id="nestable-menu">
	<button class="btn btn-info" type="button" data-action="expand-all">Expand All</button>
	<button class="btn btn-danger" type="button" data-action="collapse-all">Collapse All</button>
</menu>
<div class="dd" id="nestable">
    <ol class="dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-handle">Item 1<a href="ui-nestable-list.html#" class="icon icon-trash"></a></div>
        </li>
        <li class="dd-item" data-id="2">
            <div class="dd-handle">Item 2<a href="ui-nestable-list.html#" class="icon icon-trash"></a><a href="ui-nestable-list.html#" class="icon icon-pencil"></a></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="3"><div class="dd-handle">Item 3</div></li>
                <li class="dd-item" data-id="4"><div class="dd-handle">Item 4</div></li>
                <li class="dd-item" data-id="5">
                    <div class="dd-handle">Item 5</div>
                    <ol class="dd-list">
                        <li class="dd-item" data-id="6"><div class="dd-handle">Item 6</div></li>
                        <li class="dd-item" data-id="7"><div class="dd-handle">Item 7</div></li>
                        <li class="dd-item" data-id="8"><div class="dd-handle">Item 8</div></li>
                    </ol>
                </li>
                <li class="dd-item" data-id="9"><div class="dd-handle">Item 9</div></li>
                <li class="dd-item" data-id="10"><div class="dd-handle">Item 10</div></li>
            </ol>
        </li>
        <li class="dd-item" data-id="11">
            <div class="dd-handle">Item 11</div>
        </li>
        <li class="dd-item" data-id="12">
            <div class="dd-handle">Item 12</div>
        </li>
    </ol>
</div>
<div class="dd" id="nestable2">
    <ol class="dd-list">
        <li class="dd-item" data-id="13">
            <div class="dd-handle">Item 13</div>
        </li>
        <li class="dd-item" data-id="14">
            <div class="dd-handle">Item 14</div>
        </li>
        <li class="dd-item" data-id="15">
            <div class="dd-handle">Item 15</div>
            <ol class="dd-list">
                <li class="dd-item" data-id="16"><div class="dd-handle">Item 16</div></li>
                <li class="dd-item" data-id="17"><div class="dd-handle">Item 17</div></li>
                <li class="dd-item" data-id="18"><div class="dd-handle">Item 18</div></li>
            </ol>
        </li>
    </ol>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {

    // activate Nestable for list 1
    $('#nestable').nestable({
        group: 1
    })

    // activate Nestable for list 2
    $('#nestable2').nestable({
        group: 1
    })

    $('#nestable3').nestable();

	$('#nestable-menu').on('click', function(e) {
	        var target = $(e.target),
	            action = target.data('action');
	        if (action === 'expand-all') {
	            $('.dd').nestable('expandAll');
	        }
	        if (action === 'collapse-all') {
	            $('.dd').nestable('collapseAll');
	        }
	});
	
	$('#nestable4').nestable();

});
    </script>
{% endblock %}

