{% extends 'widget/base.html' %}

{% block title %}Current Crowd{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<ul class="dashboard-list">
	<li>
		<a href="widgets.html#">
			<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
		</a>
		<strong>Name:</strong> <a href="widgets.html#">Łukasz Holeczek</a><br>
		<strong>Since:</strong> Jul 25, 2012 11:09<br>
		<strong>Status:</strong> <span class="label label-success">Approved</span>                                  
	</li>
	<li>
		<a href="widgets.html#">
			<img class="avatar" alt="Bill" src="assets/img/avatar9.jpg">
		</a>
		<strong>Name:</strong> <a href="widgets.html#">Bill Cole</a><br>
		<strong>Since:</strong> Jul 25, 2012 11:09<br>
		<strong>Status:</strong> <span class="label label-warning">Pending</span>                                 
	</li>
	<li>
		<a href="widgets.html#">
			<img class="avatar" alt="Jane" src="assets/img/avatar5.jpg">
		</a>
		<strong>Name:</strong> <a href="widgets.html#">Jane Sanchez</a><br>
		<strong>Since:</strong> Jul 25, 2012 11:09<br>
		<strong>Status:</strong> <span class="label label-important">Banned</span>                                  
	</li>
	<li>
		<a href="widgets.html#">
			<img class="avatar" alt="Kate" src="assets/img/avatar6.jpg">
		</a>
		<strong>Name:</strong> <a href="widgets.html#">Kate Presley</a><br>
		<strong>Since:</strong> Jul 25, 2012 11:09<br>
		<strong>Status:</strong> <span class="label label-info">Updates</span>                                  
	</li>
</ul>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

