{% extends 'widget/base.html' %}

{% block title %}Simple Table{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<table class="table table-striped">
	  <thead>
		  <tr>
			  <th>Username</th>
			  <th>Date registered</th>
			  <th>Role</th>
			  <th>Status</th>                                          
		  </tr>
	  </thead>   
	  <tbody>
		<tr>
			<td>Vishnu Serghei</td>
			<td class="center">2012/01/01</td>
			<td class="center">Member</td>
			<td class="center">
				<span class="label label-success">Active</span>
			</td>                                       
		</tr>
		<tr>
			<td>Zbyněk Phoibos</td>
			<td class="center">2012/02/01</td>
			<td class="center">Staff</td>
			<td class="center">
				<span class="label label-important">Banned</span>
			</td>                                       
		</tr>
		<tr>
			<td>Einar Randall</td>
			<td class="center">2012/02/01</td>
			<td class="center">Admin</td>
			<td class="center">
				<span class="label label-default">Inactive</span>
			</td>                                        
		</tr>
		<tr>
			<td>Félix Troels</td>
			<td class="center">2012/03/01</td>
			<td class="center">Member</td>
			<td class="center">
				<span class="label label-warning">Pending</span>
			</td>                                       
		</tr>
		<tr>
			<td>Aulus Agmundr</td>
			<td class="center">2012/01/21</td>
			<td class="center">Staff</td>
			<td class="center">
				<span class="label label-success">Active</span>
			</td>                                        
		</tr>                                   
	  </tbody>
</table>  
<div class="pagination pagination-centered">
    <ul class="pagination">
	    <li><a href="table.html#">Prev</a></li>
	    <li class="active">
	      <a href="table.html#">1</a>
	    </li>
	    <li><a href="table.html#">2</a></li>
	    <li><a href="table.html#">3</a></li>
	    <li><a href="table.html#">4</a></li>
	    <li><a href="table.html#">Next</a></li>
    </ul>
</div>     
{% endblock %}

{% block scripts %}
	<script src="assets/js/pages/table.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
	/* ---------- Datable ---------- */
	$('.datatable').dataTable({
		"sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-12'i><'col-lg-12 center'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records per page"
		}
	});
});
    </script>
{% endblock %}

