{% extends 'widget/base.html' %}

{% block title %}Tasks{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="task-list">
	<h1>Tasks</h1>
	<div class="priority high"><span>high priority</span></div>
	<div class="task high">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task high">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div>1 day</div>
		</div>
	</div>
	<div class="task high">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task high last">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div>1 day</div>
		</div>
	</div>

	<div class="priority medium"><span>medium priority</span></div>

	<div class="task medium">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task medium last">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>

	<div class="priority low"><span>low priority</span></div>

	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="task low">
		<div class="desc">
			<div class="title">Lorem Ipsum</div>
			<div>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</div>
		</div>
		<div class="time">
			<div class="date">Jun 1, 2012</div>
			<div> 1 day</div>
		</div>
	</div>
	<div class="clearfix"></div>		
</div>		
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

