{% extends 'widget/base.html' %}

{% block title %}Timeline{% endblock %}

{% block options %}
<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
{% endblock %}

{% block content %}
<div class="graph">
	<h1>Timeline</h1>
	<div class="timeline">
	    <div class="timeslot">
			<div class="task">
	    		<span>
					<span class="type">appointment</span>
					<span class="details">
						Lukasz Holeczek at creativeLabs HQ
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>							
			<div class="icon">
				<i class="fa fa-map-marker"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="clearfix"></div>
		<div class="timeslot alt">
			<div class="task">
	    		<span>
					<span class="type">phone call</span>
					<span class="details">
						Lukasz Holeczek
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span>
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-phone"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="timeslot">
			<div class="task">
	    		<span>
					<span class="type">mail</span>
					<span class="details">
						Lukasz Holeczek
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	

	    </div>
		<div class="timeslot alt">
			<div class="task">
	    		<span>
					<span class="type">deadline</span>
					<span class="details">
						Fixed PayPal problems
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-calendar"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="timeslot">
			<div class="task">
	    		<span>
					<span class="type">appointment</span>
					<span class="details">
						Lukasz Holeczek at creativeLabs HQ
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>							
			<div class="icon">
				<i class="fa fa-map-marker"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	

	    </div>
		<div class="clearfix"></div>
		<div class="timeslot alt">
			<div class="task">
	    		<span>
					<span class="type">skype call</span>
					<span class="details">
						Lukasz Holeczek
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span>
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-phone"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="timeslot">
			<div class="task">
	    		<span>
					<span class="type">mail</span>
					<span class="details">
						Lukasz Holeczek
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="timeslot alt">
			<div class="task">
	    		<span>
					<span class="type">project deadline</span>
					<span class="details">
						Fixed PayPal problems
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-calendar"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
		<div class="timeslot">
			<div class="task">
	    		<span>
					<span class="type">mail</span>
					<span class="details">
						Lukasz Holeczek
					</span>
					<span>
						remaining time
						<span class="remaining">
							3h 38m 15s
						</span>	
					</span> 
				</span>
				<div class="arrow"></div>
			</div>
			<div class="icon">
				<i class="fa fa-envelope"></i>
			</div>
			<div class="time">
				3:43 PM
			</div>	
	    </div>
	</div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
$(document).ready(function() {
});
    </script>
{% endblock %}

